body {
    background-color: rgb(196, 121, 196);
}

h1 {
    text-shadow: 1px 1px 4px black;
}

header {
    color: white;
    text-align: center;
    margin: auto;
    font-size: 26px;
}

select#selvet {
    width: 200px;
}


section {
    text-align: center;
    background: rgba(209, 86, 86, 0.685);
    border-radius: 20px;
    width: 500px;
    margin: auto;
    color: white;
    box-shadow: 2px 2px 6px black;
    padding: 6px;
    font: normal 20px Arial;
}


footer {
    text-shadow: 1px 1px 4px black;
    text-align: center;
    color: white;
    font: italic 20px Snell Roundhand;
}